@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>管理后台</title>
    <!--[if lt IE 9]>
        <script src="~/scripts/html5shiv.js"></script>
        <![endif]-->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/css/sb-admin.min.css" rel="stylesheet" />
    <link href="/css/admin.min.css" rel="stylesheet" />
    <link href="/css/blog.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        <!-- Static navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="~/">返回首页</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav side-nav">
                        <li><a href="~/admin"><i class="fa fa-dashboard"></i> 控制面板</a></li>
                        <li><a href="~/admin/posts/new"><i class="fa fa-edit"></i> 发表文章</a></li>
                        <li><a href="~/admin/posts"><i class="fa fa-list"></i> 文章管理</a></li>
                        <li><a href="~/admin/comments"><i class="fa fa-comments"></i> 评论管理</a></li>
                        <li><a href="~/admin/tags"><i class="fa fa-tags"></i> 标签列表</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown user-dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> @ViewBag.CurrentUser.Value.DisplayName <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="~/admin/change-profile"><i class="fa fa-user"></i> 用户信息</a></li>
                                <li><a href="~/admin/change-password"><i class="fa fa-gear"></i> 修改密码</a></li>
                                <li class="divider"></li>
                                <li><a href="~/logout"><i class="fa fa-power-off"></i> 退出</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        @*<li class="dropdown messages-dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> 消息 <span class="badge">1</span> <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li class="dropdown-header">1条新消息</li>
            <li class="message-preview">
                <a href="#">
                    <span class="avatar"><img src="https://secure.gravatar.com/avatar/cc8a18973bd499fb83d2e5de2c7e5a99.png?s=50&d=mm&r=g"></span>
                    <span class="name">XXX:</span>
                    <span class="message">感谢您使用Blog</span>
                    <span class="time"><i class="fa fa-clock-o"></i> 2014-03-03 8:38 PM</span>
                </a>
            </li>
            <li class="divider"></li>
            <li><a href="#">查看消息箱 <span class="badge">1</span></a></li>
        </ul>
    </li>*@
        <div id="page-wrapper">
            @foreach (dynamic msg in ViewBag.Messages.Value)
            {
                <div class="alert alert-@msg.MsgType">
                    @msg.Message
                </div>
            }

            @RenderBody()
        </div>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link href="/highlight/vs.css" rel="stylesheet" />
    <script src="/highlight/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    @RenderSection("PostScripts", false)
</body>
</html>